version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    labels:
      - "area/dependency"
      - "ok-to-test"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "app-sre/boilerplate"
        # don't upgrade boilerplate via these means
      - dependency-name: "openshift/origin-operator-registry"
        # don't upgrade origin-operator-registry via these means
  - package-ecosystem: gomod
    directory: "/"
    labels:
      - "area/dependency"
      - "ok-to-test"
    schedule:
      interval: "weekly"
    groups:
      k8s:
        patterns:
          - "k8s.io/*"
          - "sigs.k8s.io/*"
      openshift:
        patterns:
          - "github.com/openshift/*"
      other-go-modules:
        patterns:
          - "*"
        exclude-patterns:
          - "k8s.io/*"
          - "sigs.k8s.io/*"
          - "github.com/openshift/*"
